# Add files here to ignore them from prettier formatting

/dist
/coverage
/apps/chain-chat/typechain
/apps/chain-chat/hardhat

# export/
# deployments/
# artifacts/
# cache/
# coverage/
# node_modules/
# package.json
# typechain/
# dapp_test/test.sol