{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "attributeGroups": ["$ANGULAR_STRUCTURAL_DIRECTIVE", "$ANGULAR_INPUT", "$ANGULAR_OUTPUT", "$ANGULAR_TWO_WAY_BINDING"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "explicitTypes": "always",
        "singleQuote": false
      }
    }
  ]
}
